{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-64">
   <div class=" border-2 border-blue-800 rounded-lg mt-14">
      <div class=" m-2 mt-4 mb-3 rounded-lg ">
         <div class="m-2 w-full">
           {% csrf_token %}
           <!-- <label for="website-admin" class="w-full block mb-1 text-sm font-medium text-blue-800">Nome</label> -->
            <div class="border-2 border-blue-800 mr-2 rounded-lg">
                <div class="flex w-full rounded-lg">
                    <span class="w-full inline-flex items-center px-3 py-2 text-sm text-gray-900 bg-blue-800 border border-e-0 border-gray-300 rounded-t-lg">
                      <label class="text-white font-bold">DETALHES DO AGENDAMENTO:</label>
                    </span>
                </div>
                <div class="flex w-full py-2 px-2 mt-3">
                    <span class="w-2/12  inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Protocolo:</label>
                    </span>
                    <div class="w-full px-2 border-2 border-blue-200 rounded-r-md">
                        {{object.protocol}}
                    </div>
                </div>
                <div class="flex w-full  py-2 px-2">
                    <span class="w-2/12 inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Requerido:</label>
                    </span>
                    <div class="w-full px-2 border-2 border-blue-200 rounded-r-md">
                        {{object.id_assisted}}
                    </div>
                </div>
                <div class="flex w-full  py-2 px-2">
                    <span class="w-2/12 inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Data:</label>
                    </span>
                    <div class="w-full px-2 border-2 border-blue-200 rounded-r-md">
                        {{object.date_at}}
                    </div>
                    <span class="w-2/12 ml-4 inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Hora:</label>
                    </span>
                    <div class="w-full px-2 border-2 border-blue-200 rounded-r-md">
                        {{object.time_at}}
                    </div>
                </div>
            </div>
            <a href="{% url 'agendas_list' %}" class="m-2 mt-4 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2">
                Voltar
            </a>
            {% if object.status == '0'%}
                <input id="open-modal-button" type="submit" value="Excluir" class="m-2 mt-4 font-md rounded-md bg-red-500 hover:bg-red-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2">
                <a href="{% url 'agendas_update' pk=object.pk %}" class="m-2 mt-4 font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2">
                    Reagendar
                </a>
            {%endif%}
         </div>
      </div>
   </div>
</div>


<div id="static-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-6 w-full max-w-lg bg-white rounded-lg shadow-xl">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b pb-4">
            <h3 class="text-lg font-semibold text-gray-900">
                Excluir o Agendamento
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-600" data-modal-hide="static-modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="py-6 text-center">
            <p class="text-base leading-relaxed text-gray-700">
                Tem certeza de que deseja excluir o Agendamento selecionado?
            </p>
        </div>

        <!-- Modal footer -->
        <div class="flex justify-center space-x-4 border-t pt-4">
            <form method="POST" action="{% url 'agendas_delete' pk=object.pk %}">
                {% csrf_token %}
                <input type="hidden" value="{{object.id}}" name="id_assisted">
                <input type="submit" value="Sim" class="w-full sm:w-auto px-6 py-3 text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm ">
            </form>
            <button data-modal-hide="static-modal" type="button" class="w-full sm:w-auto px-6 py-3 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm">
                Não
            </button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const openModalButton = document.getElementById('open-modal-button');
        const modal = document.getElementById('static-modal');
        const closeModalButtons = modal.querySelectorAll('[data-modal-hide="static-modal"]');

        openModalButton.addEventListener('click', function () {
            modal.classList.remove('hidden');
        });

        closeModalButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                modal.classList.add('hidden');
            });
        });
    });
</script>
{% endblock %}