{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="p-4 sm:ml-48">
    <div class="container-fluid border-2 border-slate-300 rounded-lg mt-14" style="min-height: 80vh;">
        <div class="mt-4 mb-3 rounded-lg">
            <form method="POST" action="{% url 'agendas_update' pk=object.pk %}" enctype="multipart/form-data" class="w-full">

                {% csrf_token %}
                <div class="container-fluid flex w-full mt-2">
                    <span class="h-8 mb-2 inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold mr-2">REQUERENTE:</label>
                    </span>
                    {{form.id_assisted}}
                    {{form.protocol}}
                    <input value="{{object.protocol}}" type="hidden" name="protocol">
                    <input value="{{object.status}}" type="hidden" name="status">
                </div>

                <div class="container-fluid flex">
                    <div class="h-96 w-full border-2 border-blue-400 rounded-lg">
                        <div class="h-full w-full p-2" id="calendar"></div>
                    </div>
                </div>

                <div class="container-fluid flex w-full mt-2">
                    <span class="h-8 inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                        <label class="text-white font-bold">Data Selecionada:</label>
                    </span>
                    <input type="text" id="date-input" name="data" class="h-8 rounded-none rounded-e-lg bg-gray-50 border border-slate-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 text-sm mr-2" readonly>
                    <span class="h-8 inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Horário:</label>
                    </span>
                    <select id="horary-container" name="time-selected"  class="flex-1 h-8 inline-flex items-center px-3 text-sm text-gray-900 border border-e-0 border-gray-300 rounded-r-md mr-2"></select>
                    <input type="submit" value="Agendar" class="h-8 rounded-md bg-green-500 hover:bg-green-600 border border-slate-300 text-gray-900 focus:ring-blue-600 focus:border-blue-500 block flex-1 font-medium text-white">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var inputDate = document.getElementById('date-input'); // Campo input de data
        var horaryContainer = document.getElementById('horary-container'); // Container para o select de horários

        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',  // Visualização em grade mensal
            locale: 'pt-br',  // Definir idioma
            events: '/eventos_view/',  // URL para pegar eventos
            dateClick: function(info) {
                inputDate.value = info.dateStr; // Preencher o campo input com a data clicada

                // Fazer uma requisição para buscar horários vagos para o dia clicado
                fetch('/horary_vagos/?data=' + info.dateStr)
                    .then(response => response.json())
                    .then(data => {
                        console.log("Horários vagos recebidos:", data); // Adicione esta linha
                        // Preencher o select com os horários vagos
                        preencherSelectHorarios(data);
                    });
            },
            eventContent: function(info) {
                // Criar um elemento div para conter o conteúdo do evento
                let eventDiv = document.createElement('div');

                // Definir o título
                let title = document.createElement('div');
                title.innerHTML = info.event.title;
                eventDiv.appendChild(title);

                // Adicionar a descrição com horários (permitindo HTML)
                let description = document.createElement('div');
                description.innerHTML = info.event.extendedProps.description;
                eventDiv.appendChild(description);

                return { domNodes: [eventDiv] };
            }
        });

        calendar.render();

        // Função para preencher o select de horários vagos
        function preencherSelectHorarios(horaryVagos) {
            // Limpar as opções do select de horários
            horaryContainer.innerHTML = '';

            // Adicionar uma opção para cada horário vago
            horaryVagos.forEach(function(horario) {
                var option = document.createElement('option');
                option.value = horario;
                option.text = horario;
                horaryContainer.appendChild(option);
            });
        }
    });
</script>

{% endblock %}
