{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-slate-300 rounded-lg mt-14" style="min-height: 80vh;">
      <div class=" m-2 mt-4 mb-3 rounded-lg ">
          <form method="post" action="{% url 'agendas_detail_protocol' pk=object.pk %}" enctype="multipart/form-data">
              {%csrf_token%}
            <div class="border-2 border-slate-300 mr-2 rounded-lg">
                <div class="flex w-full rounded-lg">
                    <span class="w-full inline-flex items-center px-3 py-2 text-sm text-gray-900 bg-blue-500 border border-e-0 border-gray-300 rounded-t-lg">
                      <label class="text-white font-bold text-base">
                          ATENDIMENTO PARA:
                          <label class="text-gray-100 font-bold text-base">
                              {{object.id_assisted}}
                          </label>
                      </label>
                    </span>
                </div>
                {% for item in process %}
                    <div class="w-full mt-2 flex flex-col items-center">
                        <div class="flex container-fluid w-full items-center">
                            <span class="w-full h-6 flex items-center text-sm text-gray-600">
                                <label class="text-slate-600 font-bold">Requerente:</label>
                            </span>
                        </div>
                        <div class="container-fluid flex w-full items-center">
                            <div class="w-full h-6 px-2 border-1 rounded-md">{{item.id_assisted}}</div>
                        </div>
                    </div>
                    <div class="w-full mt-2 flex flex-col items-center">
                        <div class="flex container-fluid w-full items-center">
                            <span class="w-full h-6 flex items-center text-sm text-gray-600">
                                <label class="text-slate-600 font-bold">Responsável:</label>
                            </span>
                        </div>
                        <div class="container-fluid flex w-full items-center">
                            {% if item.id_responsible != None %}
                                <div class="w-full h-6 px-2 border-1 rounded-md">{{item.id_responsible}}</div>
                            {%else%}
                                <div class="w-full h-6 px-2 border-1 rounded-md">Desnecessário</div>
                            {%endif%}
                        </div>
                    </div>
                    <div class="w-full mt-2 flex flex-col items-center">
                        <div class="flex container-fluid w-full items-center">
                            <span class="w-full h-6 flex items-center text-sm text-gray-600">
                                <label class="text-slate-600 font-bold">Data de Atendimento:</label>
                            </span>
                            <span class="w-full h-6 flex items-center text-sm text-gray-600">
                                <label class="text-slate-600 font-bold ml-2">Horário de Atendimento:</label>
                            </span>
                        </div>
                        <div class="container-fluid flex w-full items-center">
                            <div class="w-full h-6 px-2 border-1 rounded-md">{{object.date_at}}</div>
                            <div class="w-full h-6 px-2 border-1 rounded-md ml-2">{{object.time_at}}</div>
                        </div>
                    </div>
                {%endfor%}
                <div class="flex w-full p-4">
                    <div class="w-full font-bolt text-5xl font-medium flex items-center justify-center">
                        Protocolo:
                        <label class="ml-4 text-5xl text-blue-700 font-bold">{{object.protocol}}</label>
                    </div>
                </div>
            </div>
            <input type="hidden" name="ativar" value="ativar">
            <input type="submit" value="Gerar Ficha de Atendimento"  class="mt-4 font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2">
         </form>
      </div>
   </div>
</div>

{% endblock %}