{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-slate-400 rounded-lg mt-14 mb-10" style="min-height: 80vh;">
      <div class="flex bg-gradient-to-r from-orange-500 to-orange-300 items-center drop-shadow-lg text-gray-500 rounded-lg m-2">
           <div class="bg-blue-500 border-blue-500 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Substabelecimento</label>
           </div>
      </div>
      <div class=" mr-2 mt-4 mb-3 rounded-lg ">
         <form method="POST" action="{% url 'sub_create' pk=object.pk %}" enctype="multipart/form-data" class="m-2 w-full">
           {% csrf_token %}
           <!-- <label for="website-admin" class="w-full block mb-1 text-sm font-medium text-blue-800">Nome</label> -->

            <div class="mr-2 rounded-lg">
                <div class="flex w-full rounded-lg">
                    <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                      <label class="text-blue-400 font-bold">DADOS DO SUBSTABELECIMENTO:</label>
                    </span>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Protocolo:</label>
                        </span>
                        <span class="w-full h-6 flex items-center text-sm text-gray-600 ml-2">
                            <label class="text-slate-600 font-bold">Número do Processo:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <input type="hidden" name="protocol" value="{{object.protocol}}">
                        <div class="w-full border-2 border-slate-300 rounded-md px-2 items-center">{{object.protocol}}</div>
                        <input type="hidden" name="processes_number" value="{{object.number_process}}">
                        <div class="w-full border-2 border-slate-300 rounded-md px-2 items-center h-7 ml-2">{{object.number_process}}</div>
                    </div>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Substabelecente:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <input type="hidden" name="advocate_current" value="{{object.id_advocate}}">
                        <div class="w-full border-2 border-slate-300 rounded-md px-2 items-center">{{object.id_advocate}}</div>
                    </div>
                </div>

                <div class="w-full mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Substabelecido:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <select name="advocate_new" class="w-full rounded-md border-slate-300 px-2">
                            {% for cooperator in cooperators %}
                                <option value="{{cooperator.pk}}">{{cooperator.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                </div>
                <div class="w-full mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Informações:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full">{{ form.reason }}</div>
                    </div>
                </div>
            </div>
            <div class="mt-4 flex border-t-2 border-slate-500 mr-2">
                <a href="{% url 'sub_list' %}" class="m-2 mt-4 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                  Voltar
                </a>
                <input type="submit" value="Avançar" class="m-2 mt-4 font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
            </div>
         </form>
      </div>
   </div>
</div>


<!-- Modal de Erro -->
<div id="info-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-6 w-full max-w-lg bg-white rounded-lg shadow-xl dark:bg-gray-800">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b pb-4">
            <h3 class="text-lg font-semibold text-gray-600">
                Protocolo Gerado
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-600" data-modal-hide="info-modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="py-6 text-center">
            <p class="text-base leading-relaxed text-gray-700">
                {{ info_message }}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="flex justify-center space-x-4 border-t pt-4">
            <button data-modal-hide="info-modal" type="button" class="w-full sm:w-auto px-6 py-3 text-slate-600 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm transition-transform duration-300 hover:scale-105">
                Fechar
            </button>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const infoModal = document.getElementById('info-modal');
        const infoMessage = "{{ info_message }}";  // Obtém a mensagem passada pelo Django

        // Verifica se existe uma mensagem e exibe o modal
        if (infoMessage && infoMessage.trim() !== '') {
            infoModal.classList.remove('hidden');
        }

        // Fechar o modal
        const closeErrorModalButtons = infoModal.querySelectorAll('[data-modal-hide="info-modal"]');
        closeErrorModalButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                infoModal.classList.add('hidden');
            });
        });
    });

</script>


<!-- Capaz e Incapaz -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const conditionField = document.getElementById('id_condition');  // Substitua 'id_condition' pelo id real do campo

        const formCapaz = document.getElementById('form-capaz');
        const formIncapaz = document.getElementById('form-incapaz');

        // Função para exibir/ocultar formulários com base na seleção
        function toggleForms() {
            const selectedValue = conditionField.value;

            if (selectedValue === 'capaz') {
                formCapaz.classList.remove('hidden');
                formIncapaz.classList.add('hidden');
            } else if (selectedValue === 'incapaz') {
                formCapaz.classList.add('hidden');
                formIncapaz.classList.remove('hidden');

                // Redirecionar para outro template
                window.location.href = '/assisteds/create/incapaz/';
            } else {
                formCapaz.classList.add('hidden');
            }
        }

        // Executa a função no carregamento da página (para manter o estado correto ao recarregar)
        toggleForms();

        // Adiciona o event listener para alterar os formulários quando o valor mudar
        conditionField.addEventListener('change', toggleForms);
    });

</script>

<!-- Modal de Erro -->
<div id="error-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-6 w-full max-w-lg bg-white rounded-lg shadow-xl dark:bg-gray-800">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b pb-4">
            <h3 class="text-lg font-semibold text-gray-600">
                Erro
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-600" data-modal-hide="error-modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="py-6 text-center">
            <p class="text-base leading-relaxed text-gray-700">
                {{ error_message }}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="flex justify-center space-x-4 border-t pt-4">
            <a href="{% url 'assisteds_create' %}" data-modal-hide="error-modal" type="button" class="w-full sm:w-auto px-6 py-3 text-slate-600 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm">
                Fechar
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const errorModal = document.getElementById('error-modal');
        const closeErrorModalButtons = errorModal.querySelectorAll('[data-modal-hide="error-modal"]');

        closeErrorModalButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                errorModal.classList.add('hidden');
            });
        });

        // Exibir modal de erro se houver mensagem de erro
        const errorMessage = '{{ error_message|escapejs }}';  // Passa a variável do Django para o JavaScript
        if (errorMessage) {
            errorModal.classList.remove('hidden');
        }
    });
</script>

{% endblock %}