{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-gray-200 rounded-lg mt-14" style="min-height: 80vh;">
       <div class="flex bg-gradient-to-r from-orange-500 to-orange-300 items-center drop-shadow-lg text-gray-500 rounded-lg m-2">
           <div class="bg-blue-600 border-blue-600 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Consultar Processos</label>
           </div>
       </div>
       <div class=" mr-2 mb-3 rounded-lg ">
         <form method="get" class="m-2 w-full">
             {% csrf_token %}
             <div class="w-full mt-4 flex flex-col items-center">
                <div class="flex container-fluid w-full items-center">
                    <span class="w-full h-6 flex items-center text-sm text-gray-600">
                        <label class="text-slate-500 font-bold">Nome do Advogado(a):</label>
                    </span>
                    <span class="w-full h-6 flex items-center text-sm text-gray-600">
                        <label class="text-slate-500 font-bold ml-2">Número do Processo:</label>
                    </span>
                    <span class="w-full h-6 flex items-center text-sm text-gray-600">
                        <label class="text-slate-500 font-bold ml-2">Número do Protocolo:</label>
                    </span>
                </div>
                <div class="container-fluid flex w-full items-center">
                    <input name="search-name" class="w-full border-2 border-slate-400 rounded-md px-2" placeholder="Nome do Advogado(a)...">
                    <input name="search-number-processes" class="w-full ml-2 border-2 border-slate-400 rounded-md px-2" placeholder="Número do Processo...">
                    <input name="search-protocol" class="w-full ml-2 border-2 border-slate-400 rounded-md px-2" placeholder="Número do Protocolo...">
                </div>
            </div>
            <div class="w-full flex justify-end ">
                <button type="submit" class="mt-3 mr-3 mb-2 flex items-center p-2 text-white rounded-lg bg-blue-500 hover:bg-blue-600">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                      <path fill-rule="evenodd" d="M10.5 3.75a6.75 6.75 0 1 0 0 13.5 6.75 6.75 0 0 0 0-13.5ZM2.25 10.5a8.25 8.25 0 1 1 14.59 5.28l4.69 4.69a.75.75 0 1 1-1.06 1.06l-4.69-4.69A8.25 8.25 0 0 1 2.25 10.5Z" clip-rule="evenodd" />
                    </svg>
                    <span class="px-3">Pesquisar</span>
                </button>
            </div>
         </form>
         <div class="text-slate-500 font-medium border-b-2 border-slate-400 mb-2 ml-2">* Processos psubstabelecimento</div>
         <div class="table-responsive ml-2">
             <div class="rounded-lg relative overflow-x-auto border-1 border-blue-800">
                <table class="w-full text-xs text-left rtl:text-right text-gray-500">
                    <thead class="text-gray-100 uppercase bg-blue-400">
                        <tr class="text-xs">
                            <th scope="col" class="px-1 py-1 border-r ">
                                Protocolo
                            </th>
                            <th scope="col" class="px-1 py-1 border-r">
                                Advogado(a)
                            </th>
                            <th scope="col" class=" w-1/12 px-1 py-1">
                                Substabelecer
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for process in processes %}
                        <tr class="text-xs">
                            <th scope="row"  class="px-1 py-1 text-cyan-700 border-r border-b border-blue-800">
                                {{process.protocol}}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700 border-r border-b border-blue-800">
                                {{process.id_advocate}}
                            </th>
                            <th  class="text-gray-400 flex items-center justify-center rounded-rb-md border-b">
                                <a href="{% url 'sub_create' pk=process.pk %}"  class="text-center text-white font-bold">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 w-full text-center text-blue-500 hover:text-blue-600">
                                      <path d="M11.47 1.72a.75.75 0 0 1 1.06 0l3 3a.75.75 0 0 1-1.06 1.06l-1.72-1.72V7.5h-1.5V4.06L9.53 5.78a.75.75 0 0 1-1.06-1.06l3-3ZM11.25 7.5V15a.75.75 0 0 0 1.5 0V7.5h3.75a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-9a3 3 0 0 1-3-3v-9a3 3 0 0 1 3-3h3.75Z" />
                                    </svg>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div>
       </div>
   </div>
</div>


<script>
    function handleFirstSelectChange() {
        const firstSelect = document.getElementById('first_select');
        const pendenciaButton = document.getElementById('pendencia_button');
        const secondSelectDiv = document.getElementById('second_select_div');
        const faseButton = document.getElementById('fase_button');

        if (firstSelect.value === 'PENDENCIA') {
            pendenciaButton.style.display = 'inline-block';  // Mostra o botão de PENDÊNCIA
            secondSelectDiv.style.display = 'none';  // Esconde o segundo select
            faseButton.style.display = 'none';  // Esconde o botão de FASE
        } else if (firstSelect.value === 'FASE') {
            pendenciaButton.style.display = 'none';  // Esconde o botão de PENDÊNCIA
            secondSelectDiv.style.display = 'block';  // Mostra o segundo select
            faseButton.style.display = 'inline-block';  // Mostra o botão de FASE
        } else {
            pendenciaButton.style.display = 'none';  // Esconde todos os botões se nenhum valor for selecionado
            secondSelectDiv.style.display = 'none';
        }
    }
</script>
{% endblock %}