{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-blue-800 rounded-lg mt-14" style="min-height: 80vh;">
      <div class=" m-2 mt-4 mb-3 rounded-lg ">
         <form method="POST" action="{% url 'requireds_update_processes' pk=object.pk %}" enctype="multipart/form-data" class="m-2 w-full">
           {% csrf_token %}
           <!-- <label for="website-admin" class="w-full block mb-1 text-sm font-medium text-blue-800">Nome</label> -->
            <div class="border-2 border-blue-800 mr-2 rounded-lg">
                <div class="flex w-full rounded-lg">
                    <span class="w-full inline-flex items-center px-3 py-2 text-sm text-gray-900 bg-blue-800 border border-e-0 border-gray-300 rounded-t-lg">
                      <label class="text-white font-bold">DADOS PESSOAIS DO REQUERIDO:</label>
                    </span>
                </div>
                <div class="flex w-full py-2 px-2 mt-3">
                    <span class="inline-flex items-center px-3 py-2 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">REQUERENTE:</label>
                    </span>
                    {{form.id_assisted}}
                    <input type="hidden" value="{{ form.id_assisted.value }}" name="id_assisted">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">GRAU DE PARENTESCO:</label>
                    </span>
                    {{form.kin}}
                </div>
                <div class="flex w-full  py-2 px-2">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">NOME:</label>
                    </span>
                    {{form.name}}
                    <input type="hidden" value="{{ object.pk }}" name="id_required">
                </div>
                <div class="flex w-full  py-2 px-2">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">ESTADO CIVIL:</label>
                    </span>
                    {{form.status_civil}}
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">RG:</label>
                    </span>
                    {{form.rg}}
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">ORGÂO EXPEDIDOR:</label>
                    </span>
                    {{form.organ}}
                </div>
                <div class="flex w-full  py-2 px-2">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">NIT:</label>
                    </span>
                    {{form.nit}}
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">CPF:</label>
                    </span>
                    {{form.cpf}}
                </div>
                <div class="flex w-full  py-2 px-2">
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">DATA DE XPEDIÇÃO:</label>
                    </span>
                    {{form.date_expedition}}
                    <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">DATA DE NASCIMENTO:</label>
                    </span>
                    {{form.date_birth}}
                </div>
                <div class="border-2 border-blue-800 mr-2 rounded-lg m-2">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full inline-flex items-center px-3 PY-1 text-sm text-gray-900 bg-blue-800 border border-e-0 border-blue-800 rounded-t-lg">
                          <label class="text-white font-bold">ENDEREÇO:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">ENDEREÇO:</label>
                        </span>
                        {{form.address}}
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">BAIRRO:</label>
                        </span>
                        {{form.district}}
                    </div>
                    <div class="flex w-full mb-2 px-2">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">CIDADE:</label>
                        </span>
                        {{form.city}}
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">UF:</label>
                        </span>
                        {{form.uf}}
                    </div>
                </div>
                <div class="border-2 border-blue-800 mr-2 rounded-lg m-2">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full inline-flex items-center px-3 PY-1 text-sm text-gray-900 bg-blue-800 border border-e-0 border-blue-800 rounded-t-lg">
                          <label class="text-white font-bold">RENDIMENTOS:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">EMPREGADO:</label>
                        </span>
                        {{form.employee}}
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">SALÁRIO R$:</label>
                        </span>
                        {{form.salary}}
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">OUTROS RENDIMENTOS:</label>
                        </span>
                        {{form.other_income}}
                    </div>
                </div>
                <div class="border-2 border-blue-800 mr-2 rounded-lg m-2">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full inline-flex items-center px-3 PY-1 text-sm text-gray-900 bg-blue-800 border border-e-0 border-blue-800 rounded-t-lg">
                          <label class="text-white font-bold">OUTROS:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2">
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">DEPENDENTES:</label>
                        </span>
                        {{form.dependents}}
                        <span class="inline-flex items-center px-3 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                          <label class="text-white font-bold">CASA:</label>
                        </span>
                        {{form.house}}
                    </div>
                </div>
            </div>
            <a href="{% url 'requireds_list' %}" class="m-2 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2  transition-transform duration-300 hover:scale-105">
                  Voltar
            </a>
            <input type="submit" value="Salvar" class="m-2 font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2  transition-transform duration-300 hover:scale-105">
         </form>
      </div>
   </div>
</div>

{% endblock %}