.fc-event .fc-event-title {
    text-align: left;
    font-weight: bold;
}

.fc-event .fc-event-time {
    display: block;
}

.fc-event div {
    white-space: normal;  /* Permitir quebra de linha automática */
}

.horarios-vagos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.horarios-vagos span {
    margin-right: 10px;
}


@keyframes pulse-scale {
    0%, 100% {
        transform: scale(1);
        background-color: #f87171; /* Vermelho */
    }
    50% {
        transform: scale(1.1);
        background-color: #fca5a5; /* Vermelho mais claro */
    }
}