{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-blue-800 rounded-lg mt-14 mb-10">
       <div class="flex bg-gradient-to-r from-orange-500 to-orange-200 items-center drop-shadow-lg text-white rounded-lg m-2">
           <div class="bg-blue-500 border-blue-500 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Atualizar cadastro do requerente</label>
           </div>
      </div>
      <div class=" mr-2 mt-4 mb-3 rounded-lg ">
         <form method="POST" action="{% url 'assisteds_update' pk=object.pk %}" enctype="multipart/form-data" class="m-2 w-full">
           {% csrf_token %}
           <!-- <label for="website-admin" class="w-full block mb-1 text-sm font-medium text-blue-800">Nome</label> -->
            <div class="mr-2">
                <div class="flex w-full rounded-lg">
                    <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                      <label class="font-bold">DADOS PESSOAIS DO REQUERENTE:</label>
                    </span>
                </div>
                <div class="flex w-full py-2 px-2 mt-3 inline-flex items-center">
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">PARTE:</label>
                    </span>
                    {{form.party}}
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">CONDIÇÃO:</label>
                    </span>
                    {{form.condition}}
                </div>
                <div class="flex w-full  py-2 px-2 inline-flex items-center">
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">NOME:</label>
                    </span>
                    {{form.name}}
                </div>
                <div class="flex w-full  py-2 px-2 inline-flex items-center">
                    <span class=" h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">ESTADO CIVIL:</label>
                    </span>
                    {{form.status_civil}}
                    <span class=" h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">RG:</label>
                    </span>
                    {{form.rg}}
                    <span class=" text-center h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="text-center border-slate-600 font-bold">ORGÂO EXPEDIDOR:</label>
                    </span>
                    {{form.organ}}
                </div>
                <div class="flex w-full  py-2 px-2 inline-flex items-center">
                    <span class=" h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">NIS:</label>
                    </span>
                    {{form.nis}}
                    <span class=" h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">CPF:</label>
                    </span>
                    {{form.cpf}}
                    <span class=" h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">E-mail:</label>
                    </span>

                    {{form.email}}
                </div>
                <div class="flex w-full  py-2 px-2 inline-flex items-center">
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">DATA DE EXPEDIÇÃO:</label>
                    </span>
                    {{form.date_expedition}}
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">DATA DE NASCIMENTO:</label>
                    </span>
                    {{form.date_birth}}
                </div>
                <div class="flex w-full  py-2 px-2 inline-flex items-center">
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">TELEFONE PRINCIPAL:</label>
                    </span>
                    {{form.fone_1}}
                    <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                      <label class="border-slate-600 font-bold">TELEFONE SECUNDÁRIO:</label>
                    </span>
                    {{form.fone_2}}
                </div>
                <div class="m-2 mt-3">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                          <label class="border-slate-600 font-bold">ENDEREÇO:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2 inline-flex items-center">
                        <span class="w-20 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">ENDEREÇO:</label>
                        </span>
                        {{form.address}}
                        <span class="w-20 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">BAIRRO:</label>
                        </span>
                        {{form.district}}
                    </div>
                    <div class="flex w-full mb-2 px-2">
                        <span class="w-20 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">CIDADE:</label>
                        </span>
                        {{form.city}}
                        <span class="w-20 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">UF:</label>
                        </span>
                        {{form.uf}}
                    </div>
                </div>
                <div class="m-2 mt-3">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                          <label class="border-slate-600 font-bold">FILIAÇÃO:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2 inline-flex items-center">
                        <span class="w-20 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">PAI:</label>
                        </span>
                        {{form.dad}}
                        <span class="w-20 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">MÃE:</label>
                        </span>
                        {{form.mother}}
                    </div>
                </div>
                <div class="m-2 mt-3">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                          <label class="border-slate-600 font-bold">RENDIMENTOS:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2 inline-flex items-center">
                        <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">EMPREGADO:</label>
                        </span>
                        {{form.employee}}
                        <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">SALÁRIO R$:</label>
                        </span>
                        {{form.salary}}
                        <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">OUTROS RENDIMENTOS:</label>
                        </span>
                        {{form.other_income}}
                    </div>
                </div>
                <div class="m-2 mt-3">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                          <label class="border-slate-600 font-bold">OUTROS:</label>
                        </span>
                    </div>
                    <div class="flex w-full  py-2 px-2 inline-flex items-center">
                        <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">DEPENDENTES:</label>
                        </span>
                        {{form.dependents}}
                        <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                          <label class="border-slate-600 font-bold">CASA:</label>
                        </span>
                        {{form.house}}
                    </div>
                </div>
                 <div class="m-2 mt-3">
                    <div class="flex w-full rounded-lg">
                        <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                          <label class="border-slate-600 font-bold">DOCUMENTOS APRESENTADOS:</label>
                        </span>
                    </div>
                    <div class=" flex items-center ">
                        <div class="container-fluid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-1 mt-3 mb-1  ">
                            {% if documents %}
                            {% for item in documents%}
                             <div class="flex flex-col justify-between inline-flex items-center">
                                <span class="w-full  h-10 inline-flex items-center px-2 text-sm text-gray-600 border-2 border-gray-400 rounded-md bg-gray-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-green-800">
                                      <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                                    </svg>
                                    <div class="w-full inline-flex items-center px-2 text-gray-600 font-medium">
                                         {{ item.name_customize|truncatechars:25 }}
                                    </div>
                                    <a href="{% url 'assisteds_update_documents' pk=object.pk %}" class="bg-blue-500 hover:bg-blue-600  px-2 py-1  text-white font-bold rounded transition-transform duration-300 hover:scale-105">
                                        <i class="bi bi-pencil transition-transform duration-300 hover:scale-105"></i>
                                    </a>
                                </span>
                             </div>
                           {%endfor%}
                           {%else%}
                             <a href="{% url 'assisteds_update_documents' pk=object.pk %}" class="text-center bg-blue-500 hover:bg-blue-600  px-2 py-1  text-white font-bold rounded transition-transform duration-300 hover:scale-105">
                                Upload de Documentos
                             </a>
                           {%endif%}
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-t-2 border-blue-500 ml-2 mr-4 mt-4">
                <a href="{% url 'assisteds_list' %}" class="m-2 mt-4 font-md rounded-md bg-blue-500 hover:bg-blue-600  text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                      Voltar
                </a>
                <input type="submit" value="Avançar" class="m-2 mt-4 font-md rounded-md bg-green-500 hover:bg-green-600  text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
            </div>
         </form>
      </div>
   </div>
</div>

{% endblock %}