{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-blue-800 rounded-lg mt-14">
       <div class="flex bg-gradient-to-r from-orange-500 to-orange-300 items-center drop-shadow-lg text-gray-500 rounded-lg m-2">
           <div class="bg-blue-600 border-blue-600 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Adicionar um novo compromisso</label>
           </div>
      </div>
      <div class=" mr-2 mt-4 mb-3 rounded-lg ">
         <form method="POST" action="{% url 'notes_update' pk=object.pk %}" enctype="multipart/form-data" class="m-2 w-full">
           {% csrf_token %}
           <!-- <label for="website-admin" class="w-full block mb-1 text-sm font-medium text-blue-800">Nome</label> -->
            <div class="border-2 border-blue-800 mr-2 rounded-lg">
                <div class="flex w-full rounded-lg">
                    <span class="w-full inline-flex items-center px-3 py-1 text-sm text-gray-900 bg-blue-800 border border-e-0 border-gray-300 rounded-t-lg">
                      <label class="text-white font-bold">Preencha os dados da Nota:</label>
                    </span>
                </div>
                <div class="flex w-full py-1 px-2 mt-2">
                    <span class="w-2/12 inline-flex items-center px-3 py-1 text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md ">
                        <label class="text-white font-bold">DATA DE ATENDIMENTO</label>
                    </span>
                    <!-- Campo visível somente leitura -->
                    <input class="px-1 rounded-none rounded-e-lg bg-gray-50 border border-blue-800 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 text-sm mr-2" value="{{ form.date_at.value }}" readonly>
                    <!-- Campo oculto que envia o valor de volta no POST -->
                    <input type="hidden" name="date_at" value="{{ form.date_at.value|date:'Y-m-d' }}">
                </div>
                <div class="flex w-full  px-2 ">
                    <span class="w-2/12 inline-flex items-center px-3  text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Usuário:</label>
                    </span>
                    {{form.user}}
                </div>
                <div class="flex w-full  py-1 px-2">
                    <span class="w-2/12 inline-flex items-center px-3  text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Prioridade:</label>
                    </span>
                    {{form.priority}}
                </div>
                <div class="flex w-full  py-1 px-2">
                    <span class="w-2/12 inline-flex items-center px-3  text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Assunto:</label>
                    </span>
                    {{form.subject}}
                </div>
                <div class="flex w-full  py-1 px-2">
                    <span class="w-2/12 inline-flex items-center px-3  text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Descrição:</label>
                    </span>
                    {{form.note}}
                </div>
                <div class="flex w-full  py-1 px-2">
                    <span class="w-2/12 inline-flex items-center px-3  text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Data do lembrete:</label>
                    </span>
                    {{form.date_at}}
                    <span class="w-2/12 inline-flex items-center px-3  text-sm text-gray-900 bg-blue-400 border border-e-0 border-gray-300 rounded-s-md">
                      <label class="text-white font-bold">Horário:</label>
                    </span>
                    {{form.time_at}}
                </div>
            </div>
            <a href="{% url 'notes_list' %}" class="m-2 mt-4 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                  Voltar
            </a>
            <input type="submit" value="Salvar Alterações" class="m-2 mt-4 font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
            <input type="submit" value="Finalizar Lembrete" name="finish" class="m-2 mt-4 font-md rounded-md bg-slate-500 hover:bg-slate-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
         </form>

      </div>
   </div>
</div>


{% endblock %}