{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-gray-200 rounded-lg mt-14">
       <div class="flex bg-gradient-to-r from-orange-500 to-orange-300 items-center drop-shadow-lg text-gray-500 rounded-lg m-2">
           <div class="bg-blue-600 border-blue-600 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Processos</label>
           </div>
       </div>
       <form id="status_form" method="get" class="mt-4 w-full flex items-center">
            {% csrf_token %}

            <div class="flex flex-now w-full m-2">
                <span class="inline-flex items-center px-1 text-sm text-gray-900 bg-blue-800 border border-e-0 border-gray-300 rounded-s-md">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-8 w-8 text-blue-300">
                      <path d="M8.25 10.875a2.625 2.625 0 1 1 5.25 0 2.625 2.625 0 0 1-5.25 0Z" />
                      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.125 4.5a4.125 4.125 0 1 0 2.338 7.524l2.007 2.006a.75.75 0 1 0 1.06-1.06l-2.006-2.007a4.125 4.125 0 0 0-3.399-6.463Z" clip-rule="evenodd" />
                    </svg>

                </span>
                <select name="first_select" id="first_select" onchange="handleFirstSelectChange()" class="h-10 rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 text-sm">
                    <option value="">-- Selecione --</option>
                    <option value="PENDENCIA">PENDÊNCIA</option>
                    <option value="FASE">FASE</option>
                </select>
                <!-- Botão para PENDÊNCIA -->
                <button id="pendencia_button" type="submit" name="search_pending" value="search_pending" style="display: none;" class="font-md rounded-md bg-blue-500 hover:bg-blue-600 text-gray-200 hover:text-gray-200 font-bold btn px-4 py-1 ml-2 transition-transform duration-300 hover:scale-105">
                    Filtrar PENDÊNCIA
                </button>
            </div>

            <!-- Div para o segundo select com FASE -->
            <div id="second_select_div" style="display: none;" class="flex w-full m-2 space-x-2 items-center">
                <!-- Select para status processual -->
                <select name="status_phase" id="status_phase" class="w-96 h-10 px-2 rounded-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 text-sm flex-grow">
                    <option value="EM ANÁLISE">EM ANÁLISE</option>
                    <option value="PETIÇÃO">PETIÇÃO</option>
                    <option value="PROTOCOLADO">PROTOCOLADO</option>
                    <option value="FASE PROCESSUAL">FASE PROCESSUAL</option>
                    <option value="SENTENÇA">SENTENÇA</option>
                    <option value="ENCERRADO">ENCERRADO</option>
                </select>

                <!-- Botão para FASE -->
                <button id="fase_button" type="submit" name="search_phase" value="search_phase" style="display: none;" class="h-10 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-gray-200 hover:text-gray-200 font-bold px-4 py-1 transition-transform duration-300 hover:scale-105">
                    Filtrar
                </button>
            </div>


       </form>
       <div class=" mr-2 mb-3 rounded-lg ">
         <form method="get" class="m-2 w-full">
             {% csrf_token %}
            <div class="flex w-full">
                <span class="inline-flex items-center px-2 text-sm text-gray-900 bg-blue-800 border border-e-0 border-gray-300 rounded-s-md">
                    <svg class="w-6 h-6 text-blue-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"/>
                    </svg>
                </span>
                <input type="text" id="website-admin" name="search-process" class="rounded-none rounded-e-lg bg-gray-50 border border-gray-300 text-gray-900 focus:ring-blue-500 focus:border-blue-500 block flex-1 text-sm " placeholder="Protocolo de Atendimento...">
                <button type="submit" class="font-md rounded-md bg-blue-500 hover:bg-blue-600 text-gray-200 hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                    Pesquisar
                </button>
                <input value="Atendimento do dia" type="submit" name="today" class="font-md rounded-md bg-orange-500 hover:bg-orange-600 text-gray-100 hover:text-gray-100 font-bold btn px-4 py-1  mr-2 transition-transform duration-300 hover:scale-105">
            </div>
         </form>

         <div class="w-full flex justify-end">
             <a href="{% url 'processes_create'%}" class="font-md rounded-md bg-green-500 hover:bg-green-600 text-gray-200 hover:text-gray-200 font-bold btn px-14 py-1 ml-2 mb-2 transition-transform duration-300 hover:scale-105">
                 + Cadastrar
             </a>
         </div>
         <div class="table-responsive ml-2">
             <div class="rounded-lg relative overflow-x-auto border-1 border-blue-800">
                <table class="w-full text-xs text-left rtl:text-right text-gray-500">
                    <thead class="text-gray-100 uppercase bg-blue-400">
                        <tr class="text-xs">
                            <th scope="col" class="px-1 py-1 ">
                                Data
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Protocolo
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Advogado(a)
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Requerente
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Requerido
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Nº Processo
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Fase
                            </th>
                            <th scope="col" class="px-1 py-1 ">
                                Pendência
                            </th>
                            <th scope="col" class="px-1 py-1">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for process in processes %}
                        <tr class="text-xs">
                            <th scope="row"  class="px-1 py-1 text-cyan-700  border-r border-b border-blue-800">
                                {{process.date_at}}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700  border-r border-b border-blue-800">
                                {{process.protocol}}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-xs text-cyan-700  border-r border-b border-blue-800">
                                {% if process.id_advocate == None%}
                                    <label>Aguardando atendimento</label>
                                {%else%}
                                    {{process.id_advocate}}
                                {%endif%}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700   border-r border-b border-blue-800 ">
                                {{process.id_assisted}}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700   border-r border-b border-blue-800 ">
                                {% if process.id_required == None%}
                                    <label></label>
                                {%else%}
                                    {{process.id_required}}
                                {%endif%}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700   border-r border-b border-blue-800 ">
                                {% if process.number_process == None %}
                                    <label></label>
                                {%else%}
                                    {{process.number_process}}
                                {%endif%}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700   border-r border-b border-blue-800 ">
                                {% if process.phase == None %}
                                    <label></label>
                                {%else%}
                                    {{process.phase}}
                                {%endif%}
                            </th>
                            <th scope="row"  class="px-1 py-1 text-cyan-700  text-center border-r border-b border-blue-800 ">
                                 {% if process.notes == 0 %}
                                    <i class="fas fa-check-circle" style="color: green;"></i> <!-- Ícone de sem pendência -->
                                 {%else%}
                                    {{process.notes}} <i class="fas fa-exclamation-circle" style="color: orange;"></i>
                                 {%endif%}
                            </th>
                            <th class="text-gray-400 flex  items-center justify-center space-x-4 border-b rounded-rb-md">
                                <a href="{% url 'processes_detail' pk=process.pk %}"  class="bg-blue-700 hover:bg-blue-500  px-1 py-1  text-white font-bold rounded transition-transform duration-300 hover:scale-105">
                                    <i class="bi bi-eye"></i>
                                </a>
                                <a href="{% url 'processes_update' pk=process.pk %}" class="bg-orange-600 hover:bg-orange-400 px-1 py-1  text-white font-bold rounded transition-transform duration-300 hover:scale-105">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{% url 'processes_delete' pk=process.pk %}" class="bg-red-700 hover:bg-red-500  px-1 py-1  text-white font-bold rounded transition-transform duration-300 hover:scale-105">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
             </div>
         </div>
       </div>
   </div>
</div>


<script>
    function handleFirstSelectChange() {
        const firstSelect = document.getElementById('first_select');
        const pendenciaButton = document.getElementById('pendencia_button');
        const secondSelectDiv = document.getElementById('second_select_div');
        const faseButton = document.getElementById('fase_button');

        if (firstSelect.value === 'PENDENCIA') {
            pendenciaButton.style.display = 'inline-block';  // Mostra o botão de PENDÊNCIA
            secondSelectDiv.style.display = 'none';  // Esconde o segundo select
            faseButton.style.display = 'none';  // Esconde o botão de FASE
        } else if (firstSelect.value === 'FASE') {
            pendenciaButton.style.display = 'none';  // Esconde o botão de PENDÊNCIA
            secondSelectDiv.style.display = 'block';  // Mostra o segundo select
            faseButton.style.display = 'inline-block';  // Mostra o botão de FASE
        } else {
            pendenciaButton.style.display = 'none';  // Esconde todos os botões se nenhum valor for selecionado
            secondSelectDiv.style.display = 'none';
        }
    }
</script>
{% endblock %}