{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-blue-800 rounded-lg mt-14 mb-10">
      <div class="flex bg-gradient-to-r from-orange-500 to-orange-300 items-center drop-shadow-lg text-gray-500 rounded-lg m-2">
           <div class="bg-blue-600 border-blue-600 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Detalhes do Processo</label>
           </div>
      </div>
      <div class=" mr-2 mt-4 mb-3 rounded-lg ">
         <form method="POST" action="{% url 'processes_update' pk=object.pk %}" enctype="multipart/form-data" class="m-2 w-full">
           {% csrf_token %}
           <!-- <label for="website-admin" class="w-full block mb-1 text-sm font-medium text-blue-800">Nome</label> -->
            <div class="border-2 border-blue-800 mr-2 rounded-lg">
                <div class="flex w-full rounded-lg">
                    <span class="w-full inline-flex items-center px-3 py-1 text-sm text-gray-900 bg-blue-800 border border-e-0 border-gray-300 rounded-t-lg">
                      <label class="text-white font-bold">Preencha os dados do Processo:</label>
                    </span>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">DATA DE ATENDIMENTO:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.date_at}}
                        </div>
                    </div>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Advogado(a):</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.id_advocate}}</div>
                    </div>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Requerente:</label>
                        </span>
                        {% if object.required %}
                        <span class="w-full h-6 ml-2 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Responsável:</label>
                        </span>
                        {%endif%}
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.id_assisted}}</div>
                        {% if object.required %}
                        <div class="w-full h-6 ml-2">{{object.id_responsibles}}</div>
                        {%endif%}
                    </div>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Requerido:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.id_required}}</div>
                    </div>
                </div>
                <div class="w-full  mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Fatos / Narrativa:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.facts}}</div>
                    </div>
                </div>
                <div class="w-full  mt-48 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Número do processo:</label>
                        </span>
                        <span class="w-full h-6 flex items-center text-sm text-gray-600 ml-3">
                            <label class="text-slate-600 font-bold">Jurisdição:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.number_process}}</div>
                        <div class="w-full h-6 px-2 border-1 rounded-md ml-2">{{object.jurisdiction}}</div>
                    </div>
                </div>
                <div class="w-full mt-2 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Matéria:</label>
                        </span>
                        <span class="w-full h-6 flex items-center text-sm text-gray-600 ml-2">
                            <label class="text-slate-600 font-bold">Classe Judicial:</label>
                        </span>
                        <span class="w-full h-6 flex items-center text-sm text-gray-600 ml-2">
                            <label class="text-slate-600 font-bold">Assunto:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6">
                            <select id="select-category" name="category" class="w-full h-6 px-2 border-1 rounded-md">
                                {% if object.processes_matter == None %}
                                    <option value="">Selecione a Matéria</option>
                                    {% for category in categories %}
                                        <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                {%else%}
                                        <option value="">{{object.processes_matter}}</option>
                                    {% for category in categories %}
                                        <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                {%endif%}
                            </select>
                        </div>
                        <div class="w-full h-6">
                            <select id="select-subcategory" name="subcategory" class="w-full h-6 ml-1 px-2 border-1 rounded-md">
                                {% if object.processes_classs == None %}
                                    <option value="">Selecione Classe</option>
                                {%else%}
                                    <option value="">{{object.processes_classs}}</option>
                                {%endif%}
                            </select>
                        </div>
                        <div class="w-full h-6 ml-2">
                            <select id="select-subcategory2" name="subcategory2" class="w-full h-6 px-2 border-1 rounded-md">
                                {% if object.processes_subject == None %}
                                    <option value="">Selecione Assunto</option>
                                {%else%}
                                    <option value="">{{object.processes_subject}}</option>
                                {%endif%}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="w-full  mt-2 mb-4 flex flex-col items-center">
                    <div class="flex container-fluid w-full items-center">
                        <span class="w-full h-6 flex items-center text-sm text-gray-600">
                            <label class="text-slate-600 font-bold">Fases:</label>
                        </span>
                    </div>
                    <div class="container-fluid flex w-full items-center">
                        <div class="w-full h-6 px-2 border-1 rounded-md">{{object.phase}}</div>
                    </div>
                </div>
            </div>
            <a href="{% url 'processes_list' %}" class="m-2 mt-4 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                  Voltar
            </a>
         </form>
      </div>
   </div>
</div>

{% endblock %}