{% extends 'base.html' %}

{% block content %}

<div class="p-4 sm:ml-48">
   <div class=" border-2 border-slate-400 rounded-lg mt-14 mb-10" style="min-height: 80vh;">
      <div class="flex bg-gradient-to-r from-orange-500 to-orange-300 items-center drop-shadow-lg text-gray-500 rounded-lg m-2">
           <div class="bg-blue-500 border-blue-500 border-4 h-full py-8 px-2 rounded-l-lg ">
           </div>
           <div>
               <label class="w-full block ml-3 mb-3 mt-3 text-4xl font-medium text-white font-medium ">Documentos do Processo</label>
           </div>
      </div>
      <div class=" mr-2 mt-4 mb-3 rounded-lg ">
           {% csrf_token %}
            <div class="ml-2 rounded-lg">
                {% if documents_process %}
                <div class="border-2 border-blue-500 rounded-md">
                    <div class="flex w-full rounded-lg p-2">
                        <span class="w-full h-6 inline-flex items-center text-sm text-blue-400 border-b-2 border-blue-500">
                          <label class="text-blue-400 font-bold">Documentos do Processo:</label>
                        </span>
                    </div>
                    <form method="POST" action="{% url 'processes_update_documents_process' pk=object.pk%}" class="p-2">
                        {% csrf_token %}
                        <div class="container-fluid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-1 mb-2">
                        {% for document in documents_process %}
                            <div class="flex flex-col justify-between inline-flex items-center mt-2 mb-2">
                                <span class="w-full  h-10 inline-flex items-center px-2 text-sm text-gray-600 border-2 border-gray-400 rounded-md bg-gray-100">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6 text-green-800">
                                      <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                                    </svg>
                                    <div class="w-full inline-flex items-center px-2 text-gray-600 font-medium">
                                         {{ document.name_customize|truncatechars:25 }}
                                    </div>
                                    <button type="button"
                                            name="open-document"
                                            value="{{ document.pk }}"
                                            data-type="process"
                                            class="mr-2 flex bg-blue-500 hover:bg-blue-600 px-2 py-1 text-white font-bold rounded transition-transform duration-300 hover:scale-105"
                                            onclick="openDocument('{{ document.pk }}', this.getAttribute('data-type'))">
                                        <i class="bi bi-eye transition-transform duration-300 hover:scale-105"></i>
                                    </button>
                                    <button type="submit" name="delete-document" value="{{document.pk}}" class="flex bg-red-500 hover:bg-red-600  px-2 py-1  text-white font-bold rounded transition-transform duration-300 hover:scale-105">
                                        <i class="bi bi-trash transition-transform duration-300 hover:scale-105"></i>
                                    </button>
                                </span>
                             </div>
                        {% endfor %}
                        </div>
                    </form>
                    <form method="post" action="{% url 'processes_update_documents_process' pk=object.pk%}" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div>
                            <div class="flex w-full mb-2">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Protocolo:</label>
                                </span>
                                <label class="w-full border-1 bg-gray-50 rounded-md ml-4 mr-2 px-2">
                                    {{object.protocol}}
                                </label>
                            </div>
                            <div class="flex w-full">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Nº Atendimento:</label>
                                </span>
                                <label class="w-full border-1 bg-gray-50 rounded-md ml-4 mr-2 px-2">
                                    {{object.pk}}
                                </label>
                            </div>
                            <div class="flex w-full mt-2">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Documento:</label>
                                </span>
                                {{form_process.type_document}}
                            </div>
                            <div class="flex  mt-2">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Nome:</label>
                                </span>
                                {{form_process.name_customize}}
                            </div>
                            <div class="flex inline-flex items-center  mt-2">
                                <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Selecionar Arquivo:</label>
                                </span>
                                {{form_process.file}}
                            </div>
                            <!-- Formulário do documento -->
                            <div class="flex justify-end">
                                <input type="hidden" name="id_process" value="{{object.id_process}}">
                                <input type="submit" value="Enviar" class="m-2 flex justify-end font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                            </div>
                        </div>
                    </form>
                {% else %}
                    <div class="w-full text-center text-4xl text-gray-500 font-medium p-4 border-2 border-blue-500 rounded-md mb-4"> Nenhum Documento Enviado...</div>
                    <form method="post" action="{% url 'processes_update_documents_process' pk=object.pk%}" enctype="multipart/form-data">
                        {%csrf_token%}
                        <div>
                            <div class="flex w-full mb-2">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Protocolo:</label>
                                </span>
                                <label class="w-full border-1 bg-gray-50 rounded-md ml-4 mr-2 px-2">
                                    {{object.protocol}}
                                </label>
                            </div>
                            <div class="flex w-full">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Nº Atendimento:</label>
                                </span>
                                <label class="w-full border-1 bg-gray-50 rounded-md ml-4 mr-2 px-2">
                                    {{object.pk}}
                                </label>
                            </div>
                            <div class="flex w-full mt-2">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Documento:</label>
                                </span>
                                {{form_process.type_document}}
                            </div>
                            <div class="flex  mt-2">
                                <span class="w-36 h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Nome:</label>
                                </span>
                                {{form_process.name_customize}}
                            </div>
                            <div class="flex inline-flex items-center  mt-2">
                                <span class="h-6 inline-flex items-center px-2 text-sm text-gray-600">
                                  <label class="text-slate-600 font-bold">Selecionar Arquivo:</label>
                                </span>
                                {{form_process.file}}
                            </div>
                            <!-- Formulário do documento -->
                            <div class="flex justify-end">
                                <input type="hidden" name="id_process" value="{{object.pk}}">
                                <input type="submit" value="Enviar" class="m-2 flex justify-end font-md rounded-md bg-green-500 hover:bg-green-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                            </div>
                        </div>
                    </form>
                {%endif%}
                </div>
            </div>

            <div class="ml-2 mt-4 flex border-t-2 border-slate-500  ">
                <a href="{% url 'processes_update' pk=object.pk %}" class="m-2 mt-4 font-md rounded-md bg-blue-500 hover:bg-blue-600 text-white hover:text-gray-200 font-bold btn px-4 py-1 ml-2 mr-2 transition-transform duration-300 hover:scale-105">
                    Voltar
                </a>
            </div>
      </div>
   </div>
</div>


<!-- Modal de Erro -->
<div id="info-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-6 w-full max-w-lg bg-white rounded-lg shadow-xl dark:bg-gray-800">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b pb-4">
            <h3 class="text-lg font-semibold text-gray-600">
                Protocolo Gerado
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-600" data-modal-hide="info-modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="py-6 text-center">
            <p class="text-base leading-relaxed text-gray-700">
                {{ info_message }}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="flex justify-center space-x-4 border-t pt-4">
            <button data-modal-hide="info-modal" type="button" class="w-full sm:w-auto px-6 py-3 text-slate-600 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm transition-transform duration-300 hover:scale-105">
                Fechar
            </button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Pega os elementos do form
        const typeDocumentField = document.querySelector('[name="type_document"]');
        const nameCustomizeField = document.querySelector('[name="name_customize"]');

        // Adiciona um listener para quando o valor do campo type_document mudar
        typeDocumentField.addEventListener('change', function() {
            // Preenche o campo name_customize com o valor selecionado de type_document
            nameCustomizeField.value = typeDocumentField.options[typeDocumentField.selectedIndex].text;
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const infoModal = document.getElementById('info-modal');
        const infoMessage = "{{ info_message }}";  // Obtém a mensagem passada pelo Django

        // Verifica se existe uma mensagem e exibe o modal
        if (infoMessage && infoMessage.trim() !== '') {
            infoModal.classList.remove('hidden');
        }

        // Fechar o modal
        const closeErrorModalButtons = infoModal.querySelectorAll('[data-modal-hide="info-modal"]');
        closeErrorModalButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                infoModal.classList.add('hidden');
            });
        });
    });

</script>


<!-- Capaz e Incapaz -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const conditionField = document.getElementById('id_condition');  // Substitua 'id_condition' pelo id real do campo

        const formCapaz = document.getElementById('form-capaz');
        const formIncapaz = document.getElementById('form-incapaz');

        // Função para exibir/ocultar formulários com base na seleção
        function toggleForms() {
            const selectedValue = conditionField.value;

            if (selectedValue === 'capaz') {
                formCapaz.classList.remove('hidden');
                formIncapaz.classList.add('hidden');
            } else if (selectedValue === 'incapaz') {
                formCapaz.classList.add('hidden');
                formIncapaz.classList.remove('hidden');

                // Redirecionar para outro template
                window.location.href = '/assisteds/create/incapaz/';
            } else {
                formCapaz.classList.add('hidden');
            }
        }

        // Executa a função no carregamento da página (para manter o estado correto ao recarregar)
        toggleForms();

        // Adiciona o event listener para alterar os formulários quando o valor mudar
        conditionField.addEventListener('change', toggleForms);
    });

</script>

<!-- Modal de Erro -->
<div id="error-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50">
    <div class="relative p-6 w-full max-w-lg bg-white rounded-lg shadow-xl dark:bg-gray-800">
        <!-- Modal header -->
        <div class="flex items-center justify-between border-b pb-4">
            <h3 class="text-lg font-semibold text-gray-600">
                Erro
            </h3>
            <button type="button" class="text-gray-400 hover:text-gray-600" data-modal-hide="error-modal">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>

        <!-- Modal body -->
        <div class="py-6 text-center">
            <p class="text-base leading-relaxed text-gray-700">
                {{ error_message }}
            </p>
        </div>

        <!-- Modal footer -->
        <div class="flex justify-center space-x-4 border-t pt-4">
            <a href="{% url 'assisteds_create' %}" data-modal-hide="error-modal" type="button" class="w-full sm:w-auto px-6 py-3 text-slate-600 bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm">
                Fechar
            </a>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const errorModal = document.getElementById('error-modal');
        const closeErrorModalButtons = errorModal.querySelectorAll('[data-modal-hide="error-modal"]');

        closeErrorModalButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                errorModal.classList.add('hidden');
            });
        });

        // Exibir modal de erro se houver mensagem de erro
        const errorMessage = '{{ error_message|escapejs }}';  // Passa a variável do Django para o JavaScript
        if (errorMessage) {
            errorModal.classList.remove('hidden');
        }
    });
</script>


<!-- Abrir Documentos -->
<script>
    function openDocument(documentId, documentType) {
        const url = `/processes/open-document/${documentId}/?type=${documentType}`;  // Adiciona o tipo de documento na query string
        window.open(url, '_blank');  // Abre em uma nova aba
    }
</script>
{% endblock %}